<div class="topnav" style="position: sticky;">
    <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
      <div class="col-md-5" style="text-align: right;">
        <span>
                <a>
                  <img src="../assets/Southern_University_seal.png" width="100" height="100"/>
                </a>
        </span>
      </div>
      <div class="col-md-6" style="text-align: left;padding-top: 5px;">
        <span style="font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
        font-weight: 500; color: #ffffff;">
                <span>
                  <span style="font-size: 40px;"> Southern University</span> <br/>
                  <span style="font-size: 20px;">And Agricultural & Mechanical College</span>
                </span>
        </span>
      </div>
      <div class="col-md-1"></div>
    </div>
</div>
<div class="w3-sidebar w3-collapse" id="sidenav">
  <div id="leftmenuinner">
    <div id="leftmenuinnerinner">
      <div class="link">
        <a href="">
           <span class="fontstyle fontsize-20">Southern CMPS</span>
        </a>
      </div>
      <div class="link">
        <a href="" routerLink="studentInfo" routerLinkActive="active">
           <span class="fontstyle fontsize-14">Student Info</span>
        </a>
      </div>
      <!-- <div class="link">
        <a href="" routerLink="balanceSheet" routerLinkActive="active">
           <span class="fontstyle fontsize-14">Balance Sheet</span>
        </a>
      </div> -->
      <div class="link">
        <a href="" routerLink="uploadStudentData" routerLinkActive="active">
           <span class="fontstyle fontsize-14">Upload Student Data</span>
        </a>
      </div>
      <div class="link">
        <a href="" routerLink="addConcentrationCourseComponent" routerLinkActive="active">
           <span class="fontstyle fontsize-14">Add Concentration/Course</span>
        </a>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
